<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body><link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
<style type="text/css">
  body {margin:0;}

.topnav {
  overflow: hidden;
  background-color:#2570ab;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.active {
  background-color:#3d9ce8;
  color: white;
}

.topnav .icon {
  display: none;
}.matter{
  padding: 30px;width: 85%;border-style: solid;border-width: 5px;
    background-color: rgba(251, 245, 245, 0.08); margin-left:50px;margin-top: 50px;  border-radius: 5px; 
}.matter .sub{
  color: black;color:rgb(84, 81, 81);font-size:20px;text-align: center;padding-left: 20px;line-height: 1.5em; padding-top: 20px;
}
.matter h1{text-align: center;color: rgb(18, 18, 19);font-size: 40px;
}
.member{width: 90%;
  height: 300px;padding:20px;
  background-color:rgba(158, 158, 158, 0.08);
  
margin-left:50px;margin-top: 50px;display: inline-block;
  }
  .member .box1{float: left;
    margin-left: 40px;
        height: 120px;
        width: 17%;
        text-align: center;    
        margin-right: 0px;
    margin-top: 60px;
    color: white;
    background:linear-gradient(to bottom  right, rgb(46, 136, 179),#3b2c54);
    
    box-shadow: 0 0 2px black;
    border-radius: 5px; 
}.member .box2{float: left;
        height: 120px;
        width: 17%; 
        text-align: center;
        margin-right: 0px;
    margin-bottom: 0px;
    color: white;
    border-radius: 5px; 
    margin-top: 40px; 
     
    
    background:linear-gradient(to bottom  right,rgb(46, 136, 179),#3b2c54 );  
      box-shadow: 0 0 2px black;  
}.member .box3{float: left;
        height: 120px;
        border-radius: 5px; 
        width: 17%;
        text-align: center;   
         margin-bottom: 0px;
    margin-top: 20px;
    color: white; 
    background:linear-gradient(to bottom  right,rgb(46, 136, 179),#3b2c54); 
     box-shadow: 0 0 2px black;
     margin-right:15px;   
        } .member .box4{float: left;
        height: 120px;
        border-radius: 5px; 
        width: 17%;
        text-align: center;   
        margin-right: 20px;
    color: white;
     background:linear-gradient(to bottom  right,rgb(46, 136, 179),#3b2c54);
      box-shadow: 0 0 2px black;
  } .member .box5{float: left;
        height: 120px;
        border-radius: 5px; 
        width: 17%;
        text-align: center;   
         margin-bottom: 0px;
    margin-top: 0px;
    color: white;
     background:linear-gradient(to bottom  right,rgb(46, 136, 179),#3b2c54 );
      box-shadow: 0 0 2px black;
  }.logo {color: #2196F3 ;font-family: verdana;
      font-size:28px;   
      text-shadow: 0px 1px 2px black; 
      text-align: right;padding: 30px
    } .sticky{
  position: fixed;
  top: 0;
  width: 100%;
}.sticky + .matter {
  padding-top: 90px;
}
.slider{height: 700px;}.member h1{text-align: center;color: rgba(63, 81, 181, 0.71);}
.matter iframe{
  width:80%;
  height: 300px;

}

@media screen and (max-width: 768px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  } .logo {
    padding: 10px;
    font-size: 20px;
  }
  .slider{
    height: 200px;
  }.matter{
    
  
     margin-left:5px;
  }.matter .sub{font-size: 18px;
    
  }.member{
    margin-left: 5px;
  }
  .matter h1{
    font-size: 23px;margin-top: 30px;
  } .member .box1{float: none;
    margin-left: 0px;
        height: 150px;
        width: 60%;
        text-align: center;    
        margin-right: 0px;
    margin-top: 15px;
    color: white;
    background:linear-gradient(to bottom  right, rgb(46, 136, 179),#3b2c54);
    
    box-shadow: 0 0 2px black;
    border-radius: 5px; 
}
.member .box2{



        height: 150px;
        width: 60%; 
        text-align: center;
        margin-right: 0px;
    margin-bottom: 0px;
    color: white;
    border-radius: 5px; 
    margin-top: 15px; 
     
    
    background:linear-gradient(to bottom  right,rgb(46, 136, 179),#3b2c54 );  
      box-shadow: 0 0 2px black;  
 
}.member .box3{


float: left;
        height: 150px;
        width: 60%; 
        text-align: center;
        margin-right: 0px;
    margin-bottom: 0px;
    color: white;
    border-radius: 5px; 
    margin-top: 15px; 
     
    
    background:linear-gradient(to bottom  right,rgb(46, 136, 179),#3b2c54 );  
      box-shadow: 0 0 2px black;  
 
}.member .box4{


float: left;
        height: 150px;
        width: 60%; 
        text-align: center;
        margin-right: 0px;
    margin-bottom: 0px;
    color: white;
    border-radius: 5px; 
    margin-top: 15px; 
     
    
    background:linear-gradient(to bottom  right,rgb(46, 136, 179),#3b2c54 );  
      box-shadow: 0 0 2px black;  
 
}.member .box5{


float: left;
        height: 150px;
        width: 60%; 
        text-align: center;
        margin-right: 0px;
    margin-bottom: 0px;
    color: white;
    border-radius: 5px; 
    margin-top: 15px; 
     
    
    background:linear-gradient(to bottom  right,rgb(46, 136, 179),#3b2c54 );  
      box-shadow: 0 0 2px black;  
 
}
.matter iframe{
  width:90%;
  height: 220px;
}footer{
  height:80px;
       
        width: 100%;
       text-align: center;   
       

    color: white;
     background-color: #c0ccd2;
}

}@media screen and (max-width: 525px) {


.matter{
    width: 250px; 
  }
  .matter iframe{
  width:90%;
  height: 220px;
}
footer{
  height:80px;
       
        width: 100%;
       text-align: center;   
       
 margin-top: 900px;
    color: white;
     background-color: #c0ccd2;
}

}
</style>
</body>
</html>
